<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  {% if title %}
    <title>{{ title }} -  Social App</title>
  {% else %}
    <title>Welcome to Social App</title>
  {% endif %}
</head>
<body>
  <div>
    Social App:
    <a href="{{ url_for('index') }}">Home</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    {% if message != "Please log in to access this page." %}
    <li>{{ message }}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>