{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block app_content %}
    <div>
        <h1>{{ _("Hi") }}, {{ current_user.username }}!</h1><br>
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
        {% endif %}
    </div>
    <div class="post-container">
        {% for post in posts %}
            {% include "_post.html" %}
        {% endfor %}
    </div>
    <div>
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> {{ _("Newer posts") }}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ _("Older posts")}} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}