{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ current_user.avatar(128) }}"></td>
            <td><h1>Hi, {{ current_user.username }}!</h1></td>
        </tr>
    </table>
    <div>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            <br>
            {{ form.post(cols=40, rows=5) }}<br>
        </p>
        <p>{{ form.submit }}</p><br>
    </form>
    </div>
    <div>
    {% for post in posts %}
        {% if post.author.username != current_user.username %}
            {% include "_post.html" %}
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}